{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-6 align-self-center auto-center">
        	<div class="card card-block">
        		<div class="col-md-6">
				  <h2>Login</h2>
				  <form method="post">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <input type="submit" class="btn btn-info" value="Login">
				  </form>
				  <br/>
				  <bold> ---New to the site--- </bold>
				  <br/>
				  <a href="/signup">Signup</a>
			</div></div></div></div>
{% endblock %}
