.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 500px;
  height: 500px;
}

.auto-center{
	margin: auto;
}
.strikethrough{
	text-decoration: line-through;
}